* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #30375e;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 13rem;
  z-index: 1;
}

.nav.expanded {
  left: 0;
}

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;

  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 1rem;
  z-index: 2;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ed2224;
  content: "";
  height: 0.2rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.4rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.4rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: #ed2224;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 30%;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nav ul li a:hover {
  color: rgb(161, 158, 158);
}

body {
  font-family: monospace;
  background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
  font-size: 17px;
}

img {
  max-width: 100%;
}

.player {
  background: #464e7e;
  width: 412px;
  height: 720px;
  position: absolute;
  color: #0d1725;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #111, -1px -1px 30px #111;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.icons a {
  color: #ed2224;
  font-size: 1.2em;
  transition: all 0.3s;
}

.icons a:hover {
  color: #fff;
}

.img {
  box-shadow: 1px 1px 15px #ed2224, -1px -1px 15px #ed2224;
  width: 60%;
  border-radius: 50%;
  margin: 30px auto;
  transition: all 0, 3s;
}

.img img {
  border-radius: 50%;
  cursor: pointer;
}

.img:hover {
  box-shadow: 1px 1px 25px #ff012f, -1px -1px 25px #ff012f;
  transform: scale(1.03);
}

.title {
  text-align: center;
  margin: 10px 0;
}

.title h1 {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.title p {
  color: rgb(209, 206, 206);
  font-size: 1.1em;
}

.time {
  text-align: center;
  margin: 15px 0;
}

.seek {
  width: 100%;
  height: 5px;
  background: #ed2224;
  border-radius: 50px;
}

.seek .fill {
  width: 0;
  height: 5px;
  background: #fff;
  border-bottom: 50px;
}

.audio-btns {
  background: #0d1725;
  margin: 40px auto;
  height: 350px;
  width: 100%;
  border-radius: 48%;
  text-align: center;
}

/* .audio-btns {
  position: absolute;
  background: #0d1725;
  box-shadow: 3px 3px 15px #1f0909, -3px -3px 15px #7c3e3e;

  height: 350px;
  width: 100%;
  border-radius: 50%;
  text-align: center;
  bottom: -150px;
  left: 0%;
} */

.audio-btns a:hover {
  color: #fff;
}

.play-btns {
  padding: 45px 0 30px 0;
}

.play-btns a {
  color: #fff;
  margin: 0 30px;
  font-size: 1.5em;
  transform: all 0.5s;
}

.play-btns .play-pause {
  background: #464e7e;
  padding: 30px 30px 30px 33px;
  border-radius: 50%;
  box-shadow: 1px 1px 50px #111;
}

.repeat-btns {
  margin: 30px 0;
}

.repeat-btns a {
  color: #fff;
  margin: 0 40px;
  font-size: 1.3rem;
}

.repeat-btns button {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0d1725;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.repeat-btns button:hover {
  background: #1c2c42;
  color: #fff;
}
