* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
  height: 100vh;
}

img {
  max-width: 100%;
}

.player {
  background: #000;
  width: 450px;
  height: 730px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ff012f;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #111, -1px -1px 30px #111;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.icons a {
  color: #ff012f;
  font-size: 1.2em;
  transition: all 0.3s;
}

.icons a:hover {
  color: #fff;
}

.img {
  box-shadow: 1px 1px 15px #ff012f, -1px -1px 15px #ff012f;
  width: 60%;
  border-radius: 50%;
  margin: 30px auto;
  transition: all 0, 3s;
}

.img img {
  border-radius: 50%;
  cursor: pointer;
}

.img:hover {
  box-shadow: 1px 1px 25px #ff012f, -1px -1px 25px #ff012f;
  transform: scale(1.03);
}

.title {
  text-align: center;
}
